<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="templateApp" ng-controller="templateController">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" sizes="any" href="data:;base64,iVBORw0KGgo=">
        <title dg-view-title></title>
        <script type="text/javascript" src="purchase-invoice-payment-generate.js"></script>
        <meta name="platform-links" category="ng-view">
        <link rel="stylesheet" href="/services/web/codbex-payment-invoice-ext/generate/PurchaseInvoicePayment/generate-purchase-invoice-payment.css">
        <script src="/services/web/codbex-payment-invoice-ext/generate/PurchaseInvoicePayment/generate-purchase-invoice-payment-controller.js">
        </script>
    </head>

    <body class="fd-padding">
        <bk-fieldset>
            <bk-form-group class="bk-vbox bk-center--horizontal">
                <bk-form-item horizontal="false">
                    <bk-form-label colon="true">Generate Purchase Invoice Payment</bk-form-label>
                </bk-form-item>

                <bk-form-item horizontal="false" ng-if="PurchaseInvoices.length != 0">
                    <p>Which purchase invoice would you like to attach to this payment?</p>
                </bk-form-item>

                <bk-form-item horizontal="false" ng-if="PurchaseInvoices.length > 0" ng-repeat="item in PurchaseInvoices">
                    <div class="dialog-select">
                        <input type="checkbox" ng-model="item.selected" />
                        <p>{{item.Number}}</p>
                    </div>
                </bk-form-item>

                <bk-form-item horizontal="false" ng-if="PurchaseInvoices.length == 0">
                    <h3>There are no invoices available for payment using this method.</h3>
                </bk-form-item>

                <bk-form-item horizontal="false" ng-show="action !== 'select'">
                    <bk-button ng-click="generatePurchaseInvoicePayment()" label="Generate" state="{{ PurchaseInvoices.length > 0 ? '' : 'disabled' }}">
                    </bk-button>
                </bk-form-item>
            </bk-form-group>
        </bk-fieldset>
        <theme></theme>
    </body>

</html>
